hardware/Nixie_clock/Nixie_clock-backups/*
hardware/datasheets/*
hardware/gerber/*
*.rar
software/build/*
.vscode
hardware/Nixie_clock/fp-*
hardware/Nixie_clock/*bak*
hardware/Nixie_clock/sym-lib-table
hardware/*.zip
hardware/Nixie_clock/*.lck
hardware/bom.csv
